:root {
    --primary-color: #083aa9;
    --secondary-color: #686D77;
    --accent-color: #ff7715;
    --white-color: white;
    --text-color: #081124;
    --background-color: #F4F6FB;
    --border-color: #E5E6E8;
    --font-weight: 700;
    --old-price-color: #898e97;
    --text-color-2: #B1B7C6;
    --yellow-color: #FECE51;
    --global-color: #EBEDF8;

}
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
/* set font  */
@font-face {
    font-family:font_Roboto;             /* font name*/
    src:url('../fonts/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/Roboto-Medium.ttf') format('truetype'),
    url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
html {
    /* font-size = 10px = 1 rem */
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: font_Roboto, sans-serif;
}

/* Animation */

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeInLeft {
    from {
        transform: translateX(var(--fade-in-from));
        opacity: 0;
    }
    to {
        transform: translateX(var(--fade-in-to));
        opacity: 1;
    }
}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
        opacity: 0;
    }
    to {
        transform: scale(var(--growth-to));
        opacity: 1;
    }
}
@keyframes shrink {
    from {
        transform: scale(var(--shrink-from));
        opacity: 1;
    }
    to {
        transform: scale(var(--shrink-to));
        opacity: 0;
    }
}
@keyframes bob-float{
    0% {
        top: 0;
    }
    50% {
        top: -4px;
    }
    100% {
        top: -8px;
    }
}
@keyframes bob {
    0% {
        top: -8px;
    }
    50% {
        top: -4px;
    }
    100% {
        top: -8px;
    }
}
.background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, transparent 0%, var(--text-color) 100%);
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.background-overlay-90deg {
    background-color: transparent;
    background-image: linear-gradient(90deg, var(--text-color) 0%, transparent 100%);
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header-label {
    background-color: var(--accent-color);
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 0 4px 2px;
    margin: 0 0 8px;
    display: inline-block;
    font-weight: var(--font-weight);
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* viewl-all/lear more  btn */
.view-all-btn {
    text-decoration: none;
    padding: 12px 24px;
    border: 1px solid var(--accent-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.view-all-btn:hover {
    animation-name: bob-float, bob;
    animation-duration: 0.5s, 1.5s;
    animation-delay: 0s, 0.5s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
}
.view-all-btn__label {
    font-size: 1.6rem;
    color: var(--accent-color);
    font-weight: var(--font-weight);
}
.view-all-btn__icon {
    color: var(--accent-color);
    font-size: 1rem;
    font-weight: var(--font-weight);
    margin: 0 0 0 8px;
    position: relative;
    top: 1px;
}

/* Product - item */
.product-item {
    display: block;
    padding: 8px 8px 0 8px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    text-decoration: none;
    transition: all 0.3s;
    position: relative;
    /* z-index: 9999; */
}
.product-item:hover {
    transform: translateY(-1px);
}
.product-item__img {
    width: 100%;
    height: 182.4px;
    display: block;
}
.product-item__title {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 8px 0;
    font-weight: lighter;
    line-height: 1.6;
    height: 70px;
}
.product-item__price {
    font-size: 1.6rem;
    padding: 0 0 32px 0;
    color: var(--accent-color);
    display: flex;
    align-items: center;
}
.product-item__old-price-unit {
    font-size: 0.8rem;
    color: var(--old-price-color);
    font-weight: var(--font-weight);

}
.product-item__old-price {
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: line-through;
    font-weight: var(--font-weight);
    color: var(--old-price-color);
    padding: 0 6px 0 0;
}
.product-item__new-price-unit {
    font-weight: var(--font-weight);
    font-size: 1.2rem;
}
.product-item__new-price {
    font-weight: var(--font-weight);
}

/* Modal layout */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    transition: all linear .3s;
    display: none;  
}
.modal.js-modal.open {
    display: block;
}
.modal.js-modal.open.modal--animate-show {
    --growth-from: 0.2;
    --growth-to: 1; 
    animation: growth linear 0.2s;
}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    
}
.modal__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
/* Search form */
.modal__search-form {
    position: relative;
    display: none;
}
.modal__search-form--active {
    display: block;
}
.search-form__input {
    background-color: var(--white-color);
    border-color: var(--border-color);
    border-width:  0 0 0 0;
    border-radius: 0;
    padding: 8px 16px;
    color: gray;
    font-size: 2rem;
    width: 1000px;
    height: 42px;
    text-align: center;
    outline: none;
}
.search-form__input-icon {
    position: absolute;
    top: 10px;
    right: -200px;
    font-size: 2rem;
    z-index: 9999;
    color: var(--secondary-color);
    cursor: pointer;
    padding: 4px;
}
.search-form__input-icon:hover {
    opacity: 0.7;
}
/* Cart list */
.modal__cart-list {
    background-color: var(--white-color);
    width: 350px;
    max-width: 100%;
    height: 100vh;
    padding: 48px 32px 32px;
    transition: all 0.2s ease-in;
    display: none;
}
.modal__cart-list--active {
    display: block;
    --fade-in-from: 300%;
    --fade-in-to: 168%;
    animation: fadeInLeft 0.3s linear forwards;
}
.modal__cart-list-icon {
    font-size: 2.4rem;
    margin: 0 0 20px;
    color: var(--secondary-color);
    padding: 4px;
    margin-left: 97%;
    cursor: pointer;
}
.modal__cart-list-icon:hover {
    opacity: 0.8;
}
.modal__cart-list-body {

}
.modal__cart-list-label {
    font-size: 1.4rem;
    color: var(--secondary-color);
    font-weight: var(--font-weight);
}
/* video about */
.modal__video-about {
    display: none;
}
.modal__video-about.modal__video-about--active {
    display: block;
}
.modal__video-about-icon {
    color: var(--border-color);
    font-size: 2.4rem;
    position: absolute;
    top: -50px;
    right: -90px;
    padding: 6px;
}
.modal__video-about-icon:hover {
    cursor: pointer;
    color: var(--white-color);
}